.logoback {
  width: 1200px;
  height: 600px;
  margin-left: 90%;
  border-radius: 300px;
}

.nav {
  width: 1530px;
  border-style: solid;
  border-color: grey;
  height: 105px;
}

img {
  margin-top: -5px;
  width: 150px;
  height: 90px;
}

.navfont {
  color: white;
  margin: 40px;
  font-size: 21px;
  margin-top: 25px;
}

.navfont:hover {
  color: white;
  margin: 45px;
  font-size: 21.1px;
  margin-top: 25px;
}

.textAbout {
  width: 1000px;
  margin-top: 100px;
  margin-left: 280px;
}

p {
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  float: none;
}
